<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QUICK SOLVE</title>

  <link rel="stylesheet" href="/static/style.css">
  <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body> 
  <div class="header">
    <div class="dropdown">
      <button class="btnEllipsis"><i class="fa-solid fa-ellipsis-vertical"></i></button>
      <ul class="dropdown-content">
        <li><a href="#">About</a></li>
        <li><a href="#">Manage Preferences</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btnUser"><i class="fa-solid fa-user"></i></button>
      <ul class="dropdown-content">
        <li><a href ="#" id="signInBtn" onclick="openSignInDialog(event)">Sign-In</a></li>
        <li><a href="#" id="signUpBtn" onclick="openSignUpDialog(event)">Sign-Up</a></li>
      </ul>
    </div>
      <h1>QUICK SOLVE</h1>
  </div>
  <!--SIGN-UP DIALOG-->
  <dialog id="signUp" class="dialog">
    <span class="exitButton" id="closeSignUp">X</span>
    <h2>SIGN-UP</h2>
    <form id="signUpForm" action="/signUp" method="POST"> 
      <!-- The action attribute specifies where to send the form data when the form is submitted and the POST method is used to send data to the server -->
      <div class="alertMessage" id="signUpMessage">  <!-- This div is used to display error messages to the user -->
        {% if open_signup and message %}
         <p>{{ message }}</p> 
        {% endif %}
       </div>
      <input type="email" name ="email" placeholder="Email" required> <!-- The name attribute is used to identify the form data after submission and is sent to the server --> 
      <input type="password" name ="password" placeholder="Password" required>
      <input type="password" name="repassword" placeholder="Re-enter Password" required>
      <h3>Benefits of having an account: 
        <li> Saved Calculations</li> 
        <li> Access history whenever</li>
     </h3>
      <br><button class="signUpBtn" type="submit">Sign-Up</button><br> <!-- The button type is set to "submit" to submit the form when clicked -->
      <button class="acctsInfo" type="button">Learn more about an account</button> <!-- The button type is set to "button" to prevent the form from being submitted when clicked -->
    </form>
  </dialog>
  <!-- SIGN-IN DIALOG -->
  <!-- The dialog element is used to create a dialog box or popup window -->
  <dialog id="signIn" class="dialog">
    <span class="exitButton" id="closeSignIn">X</span>
    <h2>SIGN-IN</h2>
    <form id="signInForm" action="/signIn" method="POST"> 
      <div class="alertMessage" id="signInMessage">  <!-- This div is used to display error messages to the user -->
        {% if open_signin and message %}
         <p>{{ message }}</p> 
        {% endif %}
       </div>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name ="password" placeholder="Password" required>
      <button class="signInBtn" type="submit">Sign-Up</button>
     <button class="forgotPasswordBtn" type="button">Forgot Password</button>
    </form>
  </dialog>
  <div class="container">
    <div> 
      <h2>MATH Calculator!</h2>
      <div class="calculator">
        <form action="" name="calc">
          <div class="inputSection">
            <button class="btnPaste"><i class="fa-solid fa-paste"></i></button> 
            <input type="text" name="display">
          </div><br>
              <button class="btn" type="button">()</button>
              <button class="btn" type="button">π</button>
              <button class="btn" type="button">y</button>
              <button class="btn" type="button">x</button><br>
              <button class="btn" type="button">=</button>
              <button class="btn" type="button">0</button>
              <button class="btn" type="button">1</button>
              <button class="btn" type="button">2</button><br>
              <button class="btn" type="button">√</button>
              <button class="btn" type="button">3</button>
              <button class="btn" type="button">4</button>
              <button class="btn" type="button">5</button><br>
              <button class="btn" type="button">6</button>
              <button class="btn" type="button">7</button>
              <button class="btn" type="button">8</button>
              <button class="btn" type="button">9</button><br>
              <button class="btn" type="button">+</button>
              <button class="btn" type="button">x</button>
              <button class="btn" type="button">-</button>
              <button class="btn" type="button">÷</button><br>
              <button class="btn" type="button">sin</button>
              <button class="btn" type="button">cos</button>
              <button class="btn" type="button">tan</button>
              <button class="btn" type="button">log</button><br>
              <button class="btn" type="button">ABC</button>
              <button class="btn space" type="button">SPACE</button>
              <button class="btn" type="button">⌫</button>
        </form>
      </div> 
      <div class= "separate-button">
        <button class="btn-G" type="button">GRAPH</button>
        <button class="btn-E" type="button">ENTER</button>
      </div>
    </div>
    <div class="answer-section"> 
      <div class="answer-here">
        <h2>Answer here:</h2>
        <div class= "answerField">
          <p id="answer"></p>
        </div>
      </div>
      <div class="button-group">
          <div class="solve-dropdown">
            <div class="solveButtonContainer">
              <button class="solveBtn" type="button">
                SOLVE FOR
                <span class="dropdownArrow"></span>
              </button>
             <ul class="solve-dropdown-content">
                <li><a href="#">x</a></li>
                <li><a href="#">y</a></li>
                <li><a href="#">n</a></li>
              </ul>
            </div>
          </div>
        <button class="btn-s" type="button">SIMPLIFY</button> <br>
        <button class="btn-s" type="button">EXPAND</button><br>
      </div>
    </div>
  </div>

</body>
</html>

